<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h1>Name:- <%= foundStudent.name %> </h1>
    <h2>Class:- <%= foundStudent.class %> </h2>
    <h3>Subject:- <%= foundStudent.subjects %> </h3>
    <a href="/students">Back</a>
</body>
</html>